<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.luochen.financial.trade.mapper.WxTransactionRecordMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.luochen.financial.trade.entity.WxTransactionRecord">
        <id column="trade_no" property="tradeNo" />
        <result column="trade_source" property="tradeSource" />
        <result column="type" property="type" />
        <result column="seller" property="seller" />
        <result column="product" property="product" />
        <result column="amount" property="amount" />
        <result column="income_expenditure" property="incomeExpenditure" />
        <result column="payment_method" property="paymentMethod" />
        <result column="trade_status" property="tradeStatus" />
        <result column="create_time" property="createTime" />
        <result column="pay_time" property="payTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        trade_no, trade_source, type, seller, product, amount, income_expenditure, payment_method, trade_status, create_time, pay_time
    </sql>

</mapper>
